<div class="signup-container">
    <form>
        <h1>Signup Page</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required autofocus>
        </div>

        <div class="input-box">
            <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn">Signup</button>

        <a routerLink="/login">Already have an Account</a>
    </form>
</div>